<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.log_orm.LogDao">

    <insert id="insert" parameterType="com.example.log_orm.Log">
        INSERT INTO log
        ( id, operateor, operateType, operateDate, operateResult, ip )
        VALUES
        (
        #{id},
        #{operateor},
        #{operateType},
        #{operateDate},
        #{operateResult},
        #{ip}
        )
    </insert>


</mapper>